/**
 *
 */

body {
  -webkit-font-smoothing: antialiased
}

main {
  background-color: #eee;
}

geo-distance {
  display: inline;
}

.mdl-layout:not(.is-upgraded) {
  display: none;
}

.mdl-layout__drawer span.mdl-navigation__link {
  cursor: pointer;
}

.rocket {
  min-height: initial;
  width: 100%;
}
.rocket .mdl-card__title-text {
  padding-bottom: 2px;
}
.rocket .mdl-card__title-text[contenteditable]:focus {
  border-bottom: 2px solid rgb(96,125,139);
  outline: none;
  padding: 0;
}
.rocket .fix {
  margin-right: 5px;
}
.rocket .location {
  font-size: 16px;
}

.rocket .updated {
  font-size: 12px;
  font-style: italic;
}

#map-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none;
}

.disabled {
  cursor: initial !important;
  opacity: 0.5;
}
.disabled:hover {
  background-color: transparent !important;
}
