/**
 *
 */

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  --primary-color: rgb(96,125,139);   /* blue-grey */
  --secondary-color: rgb(255,82,82);  /* red */
}

main {
  background-color: #eee;
}

battery-icon {
  --battery-icon-color: var(--primary-color);
}

.mdl-layout:not(.is-upgraded) {
  display: none;
}

.mdl-layout__drawer span.mdl-navigation__link {
  cursor: pointer;
}

.rocket {
  transition: box-shadow 2s;
  width: 100%;
}
.rocket.active {
  transition: box-shadow 0s;
}
.rocket .mdl-card__title-text {
  flex-grow: 2;
  padding-bottom: 2px;
}
.rocket .mdl-card__title-text[contenteditable]:focus {
  border-bottom: 2px solid var(--primary-color);
  outline: none;
  padding: 0;
}
.rocket .fix {
  margin-right: 5px;
}
.rocket .location {
  font-size: 16px;
}
.rocket .updated {
  font-size: 12px;
  font-style: italic;
}

#map-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none;
}

.disabled {
  cursor: initial !important;
  opacity: 0.5;
}
.disabled:hover {
  background-color: transparent !important;
}
