<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">

<dom-module id="map-button">
  <template>
    <style>
      :host {
        color: var(--primary-color);
      }
      iron-icon {
        vertical-align: -6px;
      }
    </style>

    <paper-button disabled="[[disabled]]">
      <iron-icon icon="maps:directions"></iron-icon>
      Map
    </paper-button>
  </template>

  <script>
    Polymer({
      is: 'map-button',

      properties: {
        rocket: {
          type: Object,
          observer: '_rocketChanged'
        },
        disabled: Boolean
      },

      listeners: {
        tap: 'openmap'
      },

      _rocketChanged: function (rocket) {
        if (rocket.location) {
          this.disabled = false;
        } else {
          this.disabled = true;
        }
      },

      openmap: function () {
        var name = this.rocket.name || this.rocket.__firebaseKey__;
        if (/Android/.test(navigator.userAgent)) {
          // Google Maps
          document.location = 'https://maps.google.com/?t=h&q=' + this.rocket.location.latitude + ',' + this.rocket.location.longitude;
        } else {
          // Apple Maps
          document.location = 'https://maps.apple.com/?t=h&q=' + name + '&ll=' + this.rocket.location.latitude + ',' + this.rocket.location.longitude;
        }
      }
    });
  </script>
</dom-module>
